@import 'colors';

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	position: absolute;
	background-color: $light-grey;
	font-family: 'Lexend Deca', sans-serif;
	left: 50%;
	padding: 10em 0;
	transform: translateX(-50%);
}

.cards-box {
	position: relative;
	width: 375px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.box1 {
	background-color: $bright-orange;
}
.box2 {
	background-color: $dark-cyan;
}
.box3 {
	background-color: $very-dark-cyan;
}
.box1,
.box2,
.box3 {
	padding: 5rem;
	color: $transparent-white;
}

h2 {
	font-family: 'Big Shoulders Display', cursive;
	text-transform: uppercase;
	font-size: 4rem;
	margin: 1em 0;
	color: $light-grey;
}
p {
	font-size: 1.5rem;
	margin-bottom: 5em;
	line-height: 1.5em;
}

button {
	font-size: 1.5rem;
	padding: 1em 2.4em;
	border-radius: 50px;
	background: $light-grey;
	border: 2px solid $light-grey;
	font-weight: bold;
	transition: color 0.3s, backround-color 0.3s;
}
.btn1 {
	color: $bright-orange;
}
.btn2 {
	color: $dark-cyan;
}
.btn3 {
	color: $very-dark-cyan;
}

button:hover {
	color: $transparent-white;
	background: none;
}
.attribution {
	padding-top: 10em;
	text-align: center;
}
@media (min-width: 1200px) {
	body {
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.cards-box {
		width: 920px;
		height: 500px;
		flex-direction: row;
	}
}
